<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        input[type="text"] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        a {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #555;
            color: #fff;
            cursor: pointer;
            margin: 5px;
            text-decoration: none;
        }

            a:hover {
                background-color: #777;
            }

        .container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <input type="text" id="userAddress" placeholder="Enter your address">
        <button onclick="saveAddress()">Save Address</button>
        <br><br>
        <a href="/Cart">Create a shopping cart</a>
        <a href="/Product">Search product prices</a>
    </div>

    <script>
        function saveAddress() {
            var address = document.getElementById("userAddress").value;
            if (address) {
                localStorage.setItem("userAddress", address);
                alert("Address saved!");
            } else {
                alert("Please enter an address.");
            }
        }
    </script>
</body>
</html>